package {{package}};

import au.org.consumerdatastandards.support.data.*;

@DataDefinition
public class CommonPerson {

{{#models}}
    {{#model}}
        {{#vars}}
    @Property(
        description = "{{{description}}}",
        required = {{#required}}true{{/required}}{{^required}}false{{/required}}
    )
    {{{datatypeWithEnum}}} {{baseName}};

        {{/vars}}
    {{/model}}
{{/models}}

}
