package {{package}};

import au.org.consumerdatastandards.support.data.*;
import java.util.List;
import java.math.BigDecimal;


{{#models}}{{#model}}
{{#isEnum}}{{>enumOuterClass}}{{/isEnum}}
{{^isEnum}}{{>pojo}}{{/isEnum}}
{{/model}}{{/models}}
