@DataDefinition
public class {{classname}} {{#isResponse}}extends {{#isPaginated}}PaginatedResponse{{/isPaginated}}{{^isPaginated}}BaseResponse{{/isPaginated}}{{/isResponse}} {

{{#models}}
    {{#model}}
        {{#vars}}
    {{#isEnum}}
    {{^isContainer}}
{{>enumClass}}
    {{/isContainer}}
    {{/isEnum}}
    {{#items.isEnum}}
      {{#items}}
      {{^isContainer}}
{{>enumClass}}
      {{/isContainer}}
      {{/items}}
    {{/items.isEnum}}
{{^isInherited}}
    @Property(
        description = "{{{description}}}",
        required = {{#required}}true{{/required}}{{^required}}false{{/required}}
    )
    {{{datatypeWithEnum}}} {{baseName}};
{{/isInherited}}
        {{/vars}}
    {{/model}}
{{/models}}

}